<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@creditPersonnel.edit.headline">Edit Credit Personnel</h1>
    <div>
        <a routerLink="/creditPersonnels" class="btn btn-secondary" i18n="@@creditPersonnel.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@creditPersonnel.id.label" label="Id" />
    <app-input-row [group]="editForm" field="motif" i18n-label="@@creditPersonnel.motif.label" label="Motif" />
    <app-input-row [group]="editForm" field="credit" rowType="select" [options]="creditValues" i18n-label="@@creditPersonnel.credit.label" label="Credit" />
    <input type="submit" i18n-value="@@creditPersonnel.edit.headline" value="Edit Credit Personnel" class="btn btn-primary mt-4" />
</form>
