<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@client.edit.headline">Edit Client</h1>
    <div>
        <a routerLink="/clients" class="btn btn-secondary" i18n="@@client.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@client.id.label" label="Id" />
    <app-input-row [group]="editForm" field="nom" i18n-label="@@client.nom.label" label="Nom" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@client.email.label" label="Email" />
    <input type="submit" i18n-value="@@client.edit.headline" value="Edit Client" class="btn btn-primary mt-4" />
</form>
